<odoo>
     <!--***************************MENU PRINCIPAL SUPERIOR*************************************-->
    <menuitem id="menu_main_instituto"
              name="Instituto"
              parent=""
              sequence="1"/>
    <!--****************************LISTADO MENUS*************************************-->
    <menuitem id="menu_instituto"
              name="Menu"
              parent="menu_main_instituto"
              action=""
              sequence="2"/>

    <!--*****************************OPCIONES DE UN MENU*************************************-->
    <menuitem id="alumnos_opcion_menu"
              name="Inscripcion Alumnos"
              action="action_view_instituto_alumnos"
              parent="menu_instituto"
              sequence="10"/>

    <!--*************************************************************************************-->
</odoo>